body {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    font-size: 12px;
    line-height: 1.5;
    color: #282828;
    font-family: 'Playfair Display', serif;
    height: 200vh;
}

.spacer {
    height: 110px;
    width: 100vw;
    background-color: red;
}

/* Social media banner */
.banner {
    background-color: #3500D3;
    color: #FFF;
    width: 200vw;
    height: 3vh;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation-name: banner-animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

@keyframes banner-animation {
    0% {
        transform: translatex(0px);
    }
    100% {
        transform: translatex(-100vw);
    }
}

.banner a {
    color: #FFF;
}

.object-1, .object-2 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Navbar */
nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    outline: solid 3px #3500D3;
    width: 100vw;
    height: 70px;
    color: #282828;
    position: fixed;
    top: 40px;
    left: 0;
}

nav h1 {
    font-size: 30px;
    margin-left: 40px;
}

ul {
    display: flex;
    font-size: 20px;
    padding: 0;
    width: auto;
    height: 100%;
    margin-right: 50px;
}

li {
    list-style-type: none;
    outline: solid 3px #3500D3;
    padding: 0 30px 0 30px;
    transition: 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

li:nth-child(2), li:nth-child(4) {
    outline: solid 0px;
}

li:hover {
    background-color: #3500D3;
    color: #282828;
}

li:hover a {
    color: #FFF;
}

nav li:nth-child(4) {
    border-right: solid 3px #3500D3;
}

a {
    color: #282828;
    text-decoration: none;
    text-align: center;
}

/* Header */
header, .header-wrapper {
    width: 100vw;
    height: 80vh;
}

.header-wrapper {
    
}

.header-bg {
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    font-size: 200px;
    color: #f0f0f0;
    text-align: center;
    width: 120vw;
    height: 110vh;
    transform: translateX(-100px) translatey(-150px);
    overflow: hidden;
    background-color: #f3f3f3;
}

.header-content {
    font-family: 'Passion One', cursive;
    letter-spacing: 4px;
    padding: 20vh 0 0 20vh ;
}

.header-content h1,h2 {
    margin: 0;
    padding: 0;
    color: #282828;
    width: 400px;
    padding-left: 5px;
    margin-top: 5px;
}

.header-content h1 {
    font-size: 50px;
}

.header-content h2 {
    font-size: 30px;
}

.header-content p {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}

.header-button {
    background-color: #282828;
    color: #3500D3;
    width: 130px;
    height: 50px;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    border: 3px #282828 solid;
    transition: .1s ease-in-out;
}

.header-button:hover {
    background-color: #FFF;
}