body {
    padding: 0;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--light-color);
    font-size: 12px;
    line-height: 1.5;
    color: var(--dark-color);
    font-family: 'Playfair Display', serif;
    height: 200vh;
    scroll-behavior: smooth;
}

:root {
    --header-bg-color: var(#f3f3f3);
    --header-bg-text-color: var(#f0f0f0);
    --dark-color: var(#282828);
    --light-color: var(#FFF);
  }

#spacer {
    height: 110px;
    width: 100vw;
    background-color: #FFF;
}

/* Social media banner */
.banner {
    background-color: #3500D3;
    color: var(--light-color);
    width: 200vw;
    height: 3vh;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    animation-name: banner-animation;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
}

@keyframes banner-animation {
    0% {
        transform: translatex(0px);
    }
    100% {
        transform: translatex(-100vw);
    }
}

.banner a {
    color: var(--light-color);
}

.object-1, .object-2 {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Navbar */
nav {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    outline: solid 3px #3500D3;
    width: 100vw;
    height: 70px;
    color: var(--dark-color);
    position: fixed;
    top: 40px;
    left: 0;
}

nav h1 {
    font-size: 30px;
    margin-left: 40px;
}

ul {
    display: flex;
    font-size: 20px;
    padding: 0;
    width: auto;
    height: 100%;
    margin-right: 50px;
}

li {
    list-style-type: none;
    outline: solid 3px #3500D3;
    padding: 0 30px 0 30px;
    transition: 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
}

li:nth-child(2), li:nth-child(4) {
    outline: solid 0px;
}

li:hover {
    background-color: #3500D3;
    color: var(--dark-color);
}

li:hover a {
    color: var(--light-color);
}

nav li:nth-child(4) {
    border-right: solid 3px #3500D3;
}

a {
    color: var(--dark-color);
    text-decoration: none;
    text-align: center;
}

/* Header */
header, .header-wrapper {
    width: 100vw;
    height: 80vh;
}

.header-bg {
    font-family: 'Noto Sans JP', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
    font-size: 200px;
    text-align: center;
    width: 120vw;
    height: 110vh;
    transform: translateX(-100px) translatey(-150px);
    overflow: hidden;
    background-color: var(--header-bg-color);
}

.header-bg p {
    color: var(--header-bg-text-color);
}

.header-content {
    font-family: 'Passion One', cursive;
    letter-spacing: 4px;
    padding: 20vh 0 0 20vh ;
}

.header-content h1,h2 {
    margin: 0;
    padding: 0;
    color: var(--dark-color);
    width: 400px;
    padding-left: 5px;
    margin-top: 5px;
}

.header-content h1 {
    font-size: 50px;
}

.header-content h2 {
    font-size: 30px;
}

.header-content p {
    font-family: 'Special Elite', cursive;
    font-size: 20px;
}

.header-button {
    background-color: var(--dark-color);
    color: #3500D3;
    width: 130px;
    height: 50px;
    text-align: center;
    font-family: 'Passion One', cursive;
    font-size: 20px;
    display: table-cell;
    vertical-align: middle;
    border: 3px var(--dark-color) solid;
    transition: .1s ease-in-out;
}

.header-button:hover {
    background-color: var(--light-color);
}

/*--------------------------------*/

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    top: 17px;
    left: 17px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3500D3;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #282828;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #3500D3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  input:checked + .slider:before {
    background-color: #FFF;
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
