body {
    background-color: red;
    margin: 0;
    padding: 0;
}

.intro {
    background-image:  linear-gradient(30deg, #2d2d2d 12%, transparent 12.5%, transparent 87%, #2d2d2d 87.5%, #2d2d2d), linear-gradient(150deg, #2d2d2d 12%, transparent 12.5%, transparent 87%, #2d2d2d 87.5%, #2d2d2d), linear-gradient(30deg, #2d2d2d 12%, transparent 12.5%, transparent 87%, #2d2d2d 87.5%, #2d2d2d), linear-gradient(150deg, #2d2d2d 12%, transparent 12.5%, transparent 87%, #2d2d2d 87.5%, #2d2d2d), linear-gradient(60deg, rgba(45,45,45,0.5) 25%, transparent 25.5%, transparent 75%, rgba(45,45,45,0.5) 75%, rgba(45,45,45,0.5)), linear-gradient(60deg, rgba(45,45,45,0.5) 25%, transparent 25.5%, transparent 75%, rgba(45,45,45,0.5) 75%, rgba(45,45,45,0.5));
    background-size: 140px 245px;
    background-position: 0 0, 0 0, 70px 122.5px, 70px 122.5px, 0 0, 70px 122.5px;
    background-color: #1d1d1d;
    width: 100vw;
    height: 600px;
    margin: 0;
}